*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
    font-size: 1.2em;
    background: url("slike/background.png");
    transition: background-color 0.5s, color 0.5s;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
form{
    padding: 3%;
    border: 2px solid;
    border-radius: 2em;
    background-color: white;
}
label{
    line-height: 25px;
}
input, select{
    font-size: 1em;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #777;
}
select{
    cursor: pointer;
}
input:hover, select:hover{
    border-bottom: 1px solid black;
    background-color: #eaeeee;
}
input:focus-within, select:focus-within{
    border: none;
}
input[type=submit]{
    border: solid 1px;
    border-radius: 1em;
    background-color: #5af;
    cursor: pointer;
    padding: 0.4em 1.2em;
    margin-left: calc(50% - 2em);
}

.long{
    padding: 1em;
}
.long div{
    display: inline;
}
.long input{
    width: 35%;
}
.long input[type=radio]{
    width: auto;
    margin-left: 3em;
    cursor: pointer;
}

#theme-icon{
    cursor: pointer;
    padding: 1vh;
    width: 2vh;
    object-fit: contain;
}
#icon{
    transition: background-color 0.5s;
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: #fff;
    border: solid 2px;
    border-radius: 20%;
    height: 4vh;
}
#container{
    margin: 6vh 5%;
}
#postal-code{
    width: 3em;
}
#phone{
    width: 7em;
}
#expiration-date{
    width: 4em;
}
#cvv{
    width: 2em;
}

@media (max-width: 800px) {
    body{
        font-size: 0.8em;
    }
    .long div{
        display: block;
        padding: 0.5em 0;
    }
    .long div input{
        width: 60%;
    }
}
@media (min-width: 1200px) {
    #container{
        margin: 6vh auto;
        width: 1100px;
    }
}
@media (min-width: 2000px) {
    #container{
        margin: 6vh 22%;
        width: 56%;
    }
    form{
        font-size: 1.6em;
    }
    .long input[type=radio]{
        transform: scale(1.8);
        margin-right: 0.5em;
        vertical-align: middle;
    }
}
@media (min-width: 4000px) {
    body{
        font-size: 2em;
    }
    form{
        font-size: 2em;
    }
    .long input[type=radio]{
        transform: scale(3.8);
    }
}